{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "extends" : "@parcel/config-default",
  "parcelIgnore" : [
    "tailwind.config.js"
  ]
}